<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation=
"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="adr" class="stringcore.Address">
<property name="strt" value="SBI colony"></property>
<property name="city" value="madanapalli"></property>
<property name="state" value="ap"></property>
</bean>
<bean id="cst" class="stringcore.Customer">
<property name="id" value="12"></property>
<property name="name" value="somu"></property>
<property name="email" value="stringcore@gmail.com"></property>
<property name="adr" ref="adr"></property>
</bean>
<bean id="adr1" class="stringcore.Address">
<constructor-arg name="strt" value="ramorao colony"></constructor-arg>
<constructor-arg name="city" value="chittoor"></constructor-arg>
<constructor-arg name="state" value="Ap"></constructor-arg>
</bean>
<bean id="cst1" class="stringcore.Customer">
<constructor-arg name="id" value="102"></constructor-arg>
<constructor-arg name="name" value="uma"></constructor-arg>
<constructor-arg name="email" value="Ap123@gmail.com"></constructor-arg>
<constructor-arg name="adr" ref="adr"></constructor-arg>
</bean>
</beans>